In [1]:
import DataPrepKit

In [2]:
df = DataPrepKit.read_data("summary.csv", "csv")

In [3]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,90676,Home in Columbus · ★4.82 · 3 bedrooms · 3 beds...,483306,Audra & Lacey,NaN,Near North/University,39.98366,-83.00252,Entire home/apt,132.0,1,726,2023-12-17,4.88,3,0,101,2022-2475
1,543140,Home in Columbus · ★4.70 · 1 bedroom · 1 bed ·...,2350409,Edward,NaN,Near North/University,40.01114,-83.01005,Private room,29.0,7,133,2023-12-09,0.96,3,327,10,2019-1344
2,591101,Loft in Columbus · ★4.92 · 1 bedroom · 1 bed ·...,2889677,Gail,NaN,Near East,39.96041,-82.98005,Private room,110.0,2,296,2023-11-12,2.14,1,0,19,2019-1230
3,923248,Hostel in Columbus · ★4.74 · 1 bedroom · 5 bed...,4965048,Mathew,NaN,Near North/University,40.01259,-83.00164,Shared room,30.0,1,348,2023-11-23,2.64,8,349,54,2019-1314
4,927867,Hostel in Columbus · ★4.72 · 1 bedroom · 1 bed...,4965048,Mathew,NaN,Near North/University,40.01259,-83.00164,Private room,73.0,1,76,2023-10-28,0.61,8,336,9,2019-1314

In [4]:
DataPrepKit.summary(df)

                 id       host_id  neighbourhood_group     latitude  \
count  2.668000e+03  2.668000e+03                  0.0  2668.000000
mean   5.447430e+17  2.304476e+08                  NaN    39.983204
std    4.116956e+17  1.747260e+08                  NaN     0.040084
min    9.067600e+04  7.876100e+04                  NaN    39.870097
25%    4.983330e+07  6.782667e+07                  NaN    39.955740
50%    7.057537e+17  1.889271e+08                  NaN    39.977930
75%    9.002812e+17  4.264816e+08                  NaN    39.997612
max    1.053696e+18  5.524346e+08                  NaN    40.147290

         longitude        price  minimum_nights  number_of_reviews  \
count  2668.000000  2579.000000      2668.00000        2668.000000
mean    -82.989815   142.770066         7.45952          50.091454
std       0.040977   124.446344        13.12943          85.014416
min     -83.173610     9.000000         1.00000           0.000000
25%     -83.007393    76.000000         1.00000           3.000000
50%     -82.997043   110.000000         2.00000          16.000000
75%     -82.973175   165.000000         3.00000          57.000000
max     -82.782440  1673.000000       300.00000         833.000000

       reviews_per_month  calculated_host_listings_count  availability_365  \
count        2287.000000                     2668.000000       2668.000000
mean            2.318946                       13.258621        194.419790
std             1.953317                       18.523403        137.967943
min             0.020000                        1.000000          0.000000
25%             0.830000                        2.000000         61.000000
50%             1.880000                        5.000000        180.000000
75%             3.245000                       19.000000        340.250000
max            15.400000                       89.000000        365.000000

       number_of_reviews_ltm
count            2668.000000
mean               17.464768
std                22.443761
min                 0.000000
25%                 1.000000
50%                 9.000000
75%                26.000000
max               298.000000
most freq
                        id                                               name  \
0                   90676  Rental unit in Columbus · 1 bedroom · 1 bed · ...
1                  543140                                                NaN
2                  591101                                                NaN
3                  923248                                                NaN
4                  927867                                                NaN
...                   ...                                                ...
2663  1051802433105806294                                                NaN
2664  1052161408967761461                                                NaN
2665  1052198066096852073                                                NaN
2666  1052240800189326761                                                NaN
2667  1053696263915202142                                                NaN

          host_id       host_name  neighbourhood_group          neighbourhood  \
0     158439641.0  GH Hospitality                  NaN  Near North/University
1             NaN             NaN                  NaN                    NaN
2             NaN             NaN                  NaN                    NaN
3             NaN             NaN                  NaN                    NaN
4             NaN             NaN                  NaN                    NaN
...           ...             ...                  ...                    ...
2663          NaN             NaN                  NaN                    NaN
2664          NaN             NaN                  NaN                    NaN
2665          NaN             NaN                  NaN                    NaN
2666          NaN             NaN                  NaN                    NaN
2667          NaN             NaN                  NaN                    NaN

       latitude  longitude        room_type  price  minimum_nights  \
0     39.957265 -83.000002  Entire home/apt   73.0             1.0
1           NaN        NaN              NaN    NaN             NaN
2           NaN        NaN              NaN    NaN             NaN
3           NaN        NaN              NaN    NaN             NaN
4           NaN        NaN              NaN    NaN             NaN
...         ...        ...              ...    ...             ...
2663        NaN        NaN              NaN    NaN             NaN
2664        NaN        NaN              NaN    NaN             NaN
2665        NaN        NaN              NaN    NaN             NaN
2666        NaN        NaN              NaN    NaN             NaN
2667        NaN        NaN              NaN    NaN             NaN

      number_of_reviews last_review  reviews_per_month  \
0                   0.0  2023-12-10                1.0
1                   NaN         NaN                NaN
2                   NaN         NaN                NaN
3                   NaN         NaN                NaN
4                   NaN         NaN                NaN
...                 ...         ...                ...
2663                NaN         NaN                NaN
2664                NaN         NaN                NaN
2665                NaN         NaN                NaN
2666                NaN         NaN                NaN
2667                NaN         NaN                NaN

      calculated_host_listings_count  availability_365  number_of_reviews_ltm  \
0                                1.0               0.0                    0.0
1                                NaN               NaN                    NaN
2                                NaN               NaN                    NaN
3                                NaN               NaN                    NaN
4                                NaN               NaN                    NaN
...                              ...               ...                    ...
2663                             NaN               NaN                    NaN
2664                             NaN               NaN                    NaN
2665                             NaN               NaN                    NaN
2666                             NaN               NaN                    NaN
2667                             NaN               NaN                    NaN

     license
0     Exempt
1        NaN
2        NaN
3        NaN
4        NaN
...      ...
2663     NaN
2664     NaN
2665     NaN
2666     NaN
2667     NaN

[2668 rows x 18 columns]

In [5]:
df = df.drop("neighbourhood_group", axis=1)

In [6]:
df.isna().sum()

id                                  0
name                                0
host_id                             0
host_name                           0
neighbourhood                       0
latitude                            0
longitude                           0
room_type                           0
price                              89
minimum_nights                      0
number_of_reviews                   0
last_review                       381
reviews_per_month                 381
calculated_host_listings_count      0
availability_365                    0
number_of_reviews_ltm               0
license                           368
dtype: int64

In [7]:
DataPrepKit.handle_missing_values(df, "drop")

In [8]:
df.isna().sum()

id                                0
name                              0
host_id                           0
host_name                         0
neighbourhood                     0
latitude                          0
longitude                         0
room_type                         0
price                             0
minimum_nights                    0
number_of_reviews                 0
last_review                       0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
number_of_reviews_ltm             0
license                           0
dtype: int64

In [10]:
df['room_type'] = DataPrepKit.encoding(df['room_type'])

In [12]:
df['room_type']

0       0
1       1
2       1
3       2
4       1
       ..
2612    1
2620    0
2631    0
2632    0
2638    0
Name: room_type, Length: 2011, dtype: int64